body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:black;
padding:10px;
text-align:center;
}

.logo{
height:40px;
}

.container{
background:white;
padding:20px;
}

.product-grid{
display:flex;
flex-wrap:wrap;
gap:40px;
}

.gallery{
flex:1;
text-align:center;
}

.gallery img{
width:300px;
}

.thumbs img{
width:60px;
margin:5px;
cursor:pointer;
}

.details{
flex:1;
}

.price{
font-size:28px;
margin-top:10px;
}

.old{
text-decoration:line-through;
color:gray;
}

.new{
color:green;
font-weight:bold;
}

.off{
color:red;
}

.timer{
color:red;
margin-top:10px;
}

.stock{
margin-top:10px;
}

.features,
.order,
.reviews{
background:white;
margin-top:20px;
padding:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
}

button{
background:orange;
border:none;
padding:15px;
font-size:16px;
cursor:pointer;
}

#popup{

position:fixed;
bottom:20px;
left:20px;

background:black;
color:white;

padding:10px;

display:none;

}
